---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

.owner-photo {
	margin-right: 1rem;
	margin-bottom: 0;
}
@media (min-width: 68em) {
	.owner-photo {
		width: 400px;
		float: left;
	}
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;
